/* Estilos globais */

/* Configuração inicial */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo do corpo do documento */
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

/* Estilo para o contêiner */
.container {
  max-width: 100%;
  margin: 1px;
}

/* Estilo para o quadro de vídeo */
.video-frame {
  margin-bottom: 20px;
}

/* Estilo para o contêiner de vídeo */
.video-container {
  position: absolute;
  left: 14%;
  top: 4%;
  width: 77%;
  padding-bottom: 131.25%; /* Proporção de aspecto para vídeos 16:9 */
  overflow: hidden;
  border: 4px solid #51a629; /* Cor da borda verde */
  box-shadow: 0 0 10px #51a629; /* Sombra neon */
}

/* Estilo para o player de vídeo */
#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Estilo para a barra de progresso */
.progress-bar {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #000000;
  cursor: pointer;
}

/* Estilo para a barra de progresso preenchida */
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #59bf2a;
  transition: width 0.3s ease-in-out;
}

/* Estilo para o texto da barra de progresso */
.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 20px;
  pointer-events: none;
}

/* Estilo adicional para tornar o vídeo responsivo em telas pequenas */
@media screen and (max-width: 640px) {
  .video-container {
    padding-bottom: 75%; /* Proporção de aspecto para vídeos 4:3 em telas pequenas */
  }
}
